* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: arial, sans-serif;
}

fieldset {
	border: none;
}

a {
	color: #1122CC;
}

ul {
	margin-left: 20px;
}

.clear {
	clear: both;
}

/**
 * Form
 */
fieldset, br {
	clear: both;
}

label {
	width: 200px;
}

input[type =
"submit"] {
	margin-left: 200px;
}

label, input, textarea {
	float: left;
	font-size: 17px;
}

textarea {
	width: 800px;
	height: 500px;
}

/**
 * Navi
 */
ul#navi {
	display: inline;
	margin: 0px;
	padding: 0px;
}

ul#navi li {
	display: inline;
	margin-right: 5px;
	list-style: none;
}

#loginStatus {
	float: right;
}

#content {
	clear: both;
}

#header {
	background-color: #CCCCCC;
}

#header, #footer, #content {
	padding: 2px 10px 2px 10px;
}

/**
 * Table
 */
table th {
	background-color: #DDDDDD;
}

table td {
	padding: 1px;
}

