<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Osgi-Bridge</display-name>
	<description>Osgi-Bridge</description>
	<welcome-file-list>
		<welcome-file>/test</welcome-file>
	</welcome-file-list>
	<!-- StartupListener -->
	<listener>
		<listener-class>de.benjaminborbe.bridge.StartupListener</listener-class>
	</listener>
	<!-- Proxy -->
	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>org.apache.felix.http.proxy.ProxyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<!-- The timeout value is specified in minutes. -->
	<!-- 60 * 24 * 7 = 10080 -->
	<session-config>
		<session-timeout>10080</session-timeout>
	</session-config>
</web-app>