/* dashboard */
.taskDashboardWidget input {
	margin-left: 0px;
}

.taskDashboardWidget .taskcompleteform,.taskDashboardWidget .taskcompleteform fieldset {
	display: inline;
}

.taskDashboardWidget  ul {
	margin: 0px;
}

.taskDashboardWidget  li {
	list-style-type: none;
}

.task .options,.task .options span {
	vertical-align: top;
}

.task input[type="text"] {
	width: 800px;
}

.task .taskTitle a {
	color: #000000;
}

.task div.dueToday .taskTitle a {
	color: #FFBB00;
}

.task div.dueExpired .taskTitle a {
	color: #EE0000;
}

.task div.startNotReached .taskTitle a {
	color: #AAAAAA;
}

.task div.completed .taskTitle,.task h2.completed {
	text-decoration: line-through;
	color: #AAAAAA;
}

.task .taskEntry:hover {
	border-bottom: 1px solid #AAAAAA;
}

.task .taskEntry {
	border-bottom: 1px solid transparent;
}

.task .taskContextSelected {
	font-weight: bold;
}

.task .taskFocusSelected {
	font-weight: bold;
}

.task ul.taskList {
	margin: 0px;
}

.task .taskList li {
	list-style-type: none;
}

.task .taskView h2 {
	margin-top: 10px;
	border-bottom: 1px solid #AAAAAA;
}

.task .taskFocus {
	float: left;
	background-color: #EEEEEE;
	width: 200px;
	height: auto;
}

.task .taskFocus ul {
	margin: 0px;
}

.task .taskFocus li {
	list-style-type: none;
	padding: 15px;
}

.task .taskNext {
	float: left;
}

.task .taskNext .taskText {
	width: 600px;
	display: inline-block;
}