/* dashboard */
form.taskdashboardcreate input {
	margin-left: 0px;
}

form.taskcompleteform,form.taskcompleteform fieldset {
	display: inline;
}

/* task */
.task .taskOptions {
	left: 1000px;
	position: absolute;
}

.task input[type="text"] {
	width: 800px;
}

.task div.dueToday {
	color: #FFCC00;
}

.task div.dueExpired {
	color: #EE0000;
}

.task .taskEntry:hover {
	border-bottom: 1px solid #AAAAAA;
}

.task .taskEntry {
	border-bottom: 1px solid transparent;
}