/* dashboard */
form.taskdashboardcreate input {
	margin-left: 0px;
}

form.taskcompleteform,form.taskcompleteform fieldset {
	display: inline;
}

/* task */
.task .taskOptions {
	left: 1000px;
	position: absolute;
}

.task input[type="text"] {
	width: 800px;
}

.task .taskTitle a {
	color: #000000;
}

.task div.dueToday .taskTitle a {
	color: #FFCC00;
}

.task div.dueExpired .taskTitle a {
	color: #EE0000;
}

.task div.startNotReached .taskTitle a {
	color: #AAAAAA;
}

.task div.completed .taskTitle,.task h2.completed {
	text-decoration: line-through;
}

.task .taskEntry:hover {
	border-bottom: 1px solid #AAAAAA;
}

.task .taskEntry {
	border-bottom: 1px solid transparent;
}