.dashboardWidget {
	border: 1px solid;
	margin: 5px 10px 5px 0px;
	padding: 5px;
	width: 400px;
	height: 300px;
	float: left;
}

.dashboardWidget h2 {
	margin: 0px;
}

.dashboardWidget input[type="submit"] {
	margin-left: 0px;
}