body {
	font-family: arial, sans-serif;
}

input#searchBox {
	font-size: 17px;
}

.title,.title a {
	font-size: 16px;
	color: #1122CC;
}

.link,.link a {
	color: #009933;
}

.link,.description {
	font-size: 13px;
}
